PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/smart_career_db
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=your_access_token_secret_here
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
REFRESH_TOKEN_EXPIRY=10d
NODE_ENV=development
